 

h2 {
    text-align: center;
    margin-bottom: 20px;
}




.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

/*table*/

.table-container {
    margin-top: 50px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.search-bar img {
    padding: 5px;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-right: 1px solid #ccc;
}

.search-bar input {
    border: none;
    padding: 5px;
    flex: 1;
    outline: none;
}

.search-bar button {
    padding: 8px 16px;
    border: none;
    border-left: 1px solid #ccc;
    background-color: #133223;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid black;
}

th,
td {
    padding: 10px;

    text-align: left;
    border: 1px solid black;
}

th {
    background-color: #f0f0f0;
}

.total-users {
    text-align: right;
    font-weight: bold;
}

.actions {
    position: relative;
}

.actions .dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.actions .dropdown a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
}

.actions .dropdown a:hover {
    background-color: #f0f0f0;
}

.actions:hover .dropdown {
    display: block;
}





@media (min-width: 768px) {
    .main-content {
        flex-direction: row;
        justify-content: space-around;
        max-height: 2100vh;
        /* Limit height on larger screens */
    }

    .sub-content {
        flex-direction: row;
        justify-content: space-around;
        max-height: 10vh;
    }
}