:root {
  --primary-green: #1a4731;
  --secondary-green: #2d7d4c;
  --accent-green: #34965e;
  --light-green: #e7f6ec;
  --danger-red: #dc3545;
  --light-red: #e9616c;
  --white: #ffffff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-800: #343a40;
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease;
}


.form {
  width: 80%;
  max-width: 800px;
  background-color: var(--white);    
  margin: 2rem auto;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.form-group {
  flex: 1;
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  color:var(--primary-green);
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  font-size: 0.95rem;
  transition: border-color 0.2s ease;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: var(--primary-green);
  box-shadow: 0 0 0 2px rgba(28, 87, 59, 0.1);
}

.form-group textarea {
  min-height: 150px;
  resize: vertical;
}

.buttons {
  display: flex;
  gap: 10rem;
  margin-top: 1.5rem;
  justify-content: center;
}

.accept {
  background-color: var(--primary-green);
  color: var(--white);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 150px;
}

.accept:hover {
  background-color: var(--accent-green);
}

.reject {
  background-color: var(--danger-red);
  color: var(--white);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 150px;
}

.reject:hover {
  background-color: var(--light-red);
}

/* Background Overlay */
#reviewUpdatePopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
  /* Initially hidden */
  animation: fadeIn 0.3s ease-in-out;
}
