h1 {
    margin: 20px 0;
}


.issues-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.issues-container h2 {
    margin-bottom: 10px;
}


h2,
h3 {
    text-align: center;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input,
form textarea,
form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

.action-btn {
    background-color: #133223;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.action-btn:hover {
    background-color: #1c573b;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#message {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {}