.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    width: 100%;
    text-align: center;
    margin: 30px auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}


.input-container {
    margin-top: 50px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

/* Style the dropdown container */
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #fff;
    appearance: none;
    /* Remove default arrow in some browsers */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns%3D%27http://www.w3.org/2000/svg%27 viewBox%3D%270 0 24 24%27 fill%3D%27%23444%27%3E%3Cpath d%3D%27M7 10l5 5 5-5z%27/%3E%3C/svg%3E');
    /* Custom arrow icon */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    cursor: pointer;
}

/* Style for the dropdown when focused */
.form-group select:focus {
    border-color: #555;
    outline: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* 
.form-group input[type="number"],
.form-group input[type="date"] {
    -webkit-appearance: textfield;
}

.form-group input[type="number"]::-webkit-outer-spin-button,
.form-group input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */



textarea {
    resize: none;
    height: 100px;
}


.submit-btn {
    margin: 4px;
    background-color: #133223;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.submit-btn:hover {
    background-color: #1c573b
}


/* Adjustments for different screen sizes */
@media (min-width: 768px) {
    .form-container {
        max-width: 400px;
    }
}